*,
*::after,
*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p{
    color: red;
    background-color: blue;
}
h1{
    color: red;
    background-color: aqua;
    font-size: 30px;
}